@use 'variables' as *;
@use 'mixins';



/* river hero layout and design */

/* rivers main gird layout and design*/
.river-1{
    @include mixins.river-grid;
    margin-top: 15px;
    
    .river-1-img{
        @include mixins.box-shadow;
        grid-column: 1/2;
        width: 100%;
    }
    .river-1-content{
        grid-column: 2/4;
    }
    p{
        @include mixins.p-adj;
    }
}

.river-2{
    @include mixins.river-grid;

    .river-2-img{
        @include mixins.box-shadow;
        grid-column: 3/4;
        width: 100%;
    }
    .river-2-content{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    p{
        @include mixins.p-adj;
    }
}

.river-3{
    @include mixins.river-grid;

    .river-3-img{
        @include mixins.box-shadow;
        grid-column: 1/2;
        width: 100%;
    }
    .river-3-content{
        grid-column: 2/4;
    }
    p{
        @include mixins.p-adj;
    }
}

/* secsion dividers */
.page-split{
    &::before{
        @include mixins.line-left;
    }
    &::after{
        @include mixins.line-right;
    }
    
}
.page-split{
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    align-items: center;
    .river-icon{
        justify-self: center;
    }
}

@media screen and (max-width: 900px) {
    
}
