@use 'variables' as *;
@use 'mixins';



/* river hero layout and design */

/* rivers main gird layout and design*/
.river-1{
    display: flex;
    margin-top: 50px;
    
    .river-1-img{
        @include mixins.box-shadow;
        width: 100%;
    }

    p{
        @include mixins.p-adj;
    }
}

.river-2{
    display: flex;
    flex-direction: row-reverse;

    .river-2-img{
        @include mixins.box-shadow;
        width: 100%;
    }
   
    p{
        @include mixins.p-adj;
    }
}

.river-3{
    display: flex;

    .river-3-img{
        @include mixins.box-shadow;
        width: 100%;
    }

    p{
        @include mixins.p-adj;
    }
}

/* secsion dividers */
.page-split{
    &::before{
        @include mixins.line-left;
    }
    &::after{
        @include mixins.line-right;
    }
    
}
.page-split{
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    align-items: center;
    .river-icon{
        justify-self: center;
    }
}

@media screen and (max-width: 900px) {
  
}