@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=New+Tegomin&display=swap');

$heading-font: "New Tegomin", "Trebuchet MS", serif;
$body-font: "Montserrat", "Century Gothic", sans-serif;
$primary-color: #4A7B9D   ;
$secondary-color: #CF5002 ;
$accent1-color: #32292F;
$accent2-color: #FFD61E;
