@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=New+Tegomin&display=swap');
// Color Palette
$primary-color: #28464B;
$secondary-color: #629677;
$accent1-color: #E4DFDA;
$accent2-color: #63372C;
// Opacity colors
$primary-opat: #28464B98;
$secondary-opat: #62967798;
$accent2-opat: #63372C98;
$second-opat: hsl(144, 21%, 49%, 0.9);



$heading-font: "New Tegomin", "Trebuchet MS", serif;
$para-font: "Montserrat", "Century Gothic", sans-serif;